
@{
    ViewData["Title"] = "Products";
    ViewBag.Products = "active";
}

@section Scripts {
    <script src="~/Ajax/Products/Add.js" asp-append-version="true" type="module"></script>
    <script>
        $('#addCategories').select2({
            placeholder: "Lütfen Seçiniz",
            allowClear: true
        });
    </script>
}

<form id="addForm" class="form-group">
    <div class="card">
        <div class="card-header">
            <h3>Ürün Ekle</h3>
        </div>
        <div class="divider"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6 mb-2">
                    <label for="addName" class="form-label">Ürün Adı <i class="text-danger">*</i></label>
                    <input type="text" class="form-control" id="addName" name="addName" placeholder="Kullanıcı Adı" required>
                </div>
                <div class="col-xl-6 mb-2">
                    <label for="addCategories" class="form-label">Kategori <i class="text-danger">*</i></label>
                    <select id="addCategories" class="form-select" multiple>
                        @foreach (var item in ViewBag.Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>

                </div>
                <div class="divider"></div>
                <div class="col-xl-6">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</form>