@{
    ViewData["Title"] = "Users";
    ViewBag.Users = "active";
}

@section Styles {
    <link rel="stylesheet" href="~/Panel/plugins/datatables/datatables.min.css" />
}

@section Scripts {
    <script src="~/Panel/plugins/datatables/datatables.min.js"></script>
    <script src="~/Panel/js/pages/datatables.js"></script>
    <script src="~/Ajax/Users/table.js" asp-append-version="true" type="module"></script>
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-rounded alert-success alert-style-light" role="alert">
        @TempData["Message"]
    </div>
}



<section>
    <div class="row mb-5">
        <div class="col-xl-12">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3">
                            <a class="btn btn-primary btn-lg btn-block" style="width: 100%;"
                               href="/Panel/UserAdd">Kullanıcı Ekle</a>
                        </div>
                        <div class="col-xl-3">
                            <button class="btn btn-warning btn-lg" onclick="reloadDataTable()" style="width: 100%;">Tabloyu Yenile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <table id="table" class="display" style="width: 100%;">
                        <thead>
                            <tr>
                                <th><i class="fa-solid fa-magnifying-glass"></i> Kullanıcı Adı</th>
                                <th><i class="fa-solid fa-magnifying-glass"></i> Eposta</th>
                                <th><i class="fa-solid fa-magnifying-glass"></i> Telefon Numarası</th>
                                <th style="width: 30px;">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Modals {
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Sil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="deleteForm">
                    <div class="modal-body">
                        <input type="hidden" id="userId" />
                        <p><strong id="strongName"></strong> adlı Kullanıcı'yı Silmek İstediğinize Emin misiniz?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Sil</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}